.main-agent {
  padding-top: 82px;
  max-width: 1920px;
  min-height: 82px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}
.banner-agent-img {
  width: 100%;
  position: relative;
}
.banner-agent {
  background: url(http://s3.amazonaws.com/redqteam.com/tripfinder-images/coverpic2.png) center center / cover no-repeat;
  height: 400px;
}
.banner-agent-avatar {
  position: absolute;
  top: 330px;
  left: 75px;
  width: 180px;
  height: 180px;
  border-radius: 3px;
  overflow: hidden;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
  margin-bottom: 27px;
}
.banner-agent-infomation {
  padding: 0 75px;
  margin: 60px auto 0;
}
.banner-agent-infomation__name {
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(44, 44, 44);
  margin-bottom: 23px;
}
.banner-agent-infomation__description {
  font-size: 15px;
  line-height: 25px;
  color: rgb(44, 44, 44);
  margin-bottom: 30px;
}
.banner-agent-infomation__social-list {
  margin-left: 70%;
}
.banner-agent-infomation__social-item {
  margin-right: 30px;
}
.ant-tabs-nav-wrap {
  padding: 30px 75px 0;
}
.ant-tabs-content-holder {
  padding: 16px 75px 0;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(0, 132, 137) !important;
}
.ant-tabs-tab:hover {
  color: rgb(0, 132, 137) !important;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: rgb(0, 132, 137) !important;
  pointer-events: none;
}
.contact-title {
  color: rgb(44, 44, 44);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 22px;
}
.contact-btn-submit {
  border-radius: 3px;
  height: 47px;
  border-color: rgb(0, 132, 137) !important;
  background-color: rgb(0, 132, 137) !important;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 28px;
  padding-right: 28px;
  line-height: 1;
}
.contact-info-box {
  
}
